<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h1 class="mb-4">Create a new Listing</h1>

    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a valid title</div>
        <div class="valid-feedback">Looks good</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Enter a valid desription</div>
        <div class="valid-feedback">Looks good</div>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          id="image"
          name="listing[image]"
          type="file"
          class="form-control"
        />
        <div class="invalid-feedback">Enter a valid image</div>
        <div class="valid-feedback">Looks good</div>
      </div>

      <!-- Price + Country side by side -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            placeholder="1200"
            name="listing[price]"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid price</div>
          <div class="valid-feedback">Looks good</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid country name</div>
          <div class="valid-feedback">Looks good</div>
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          id="location"
          name="listing[location]"
          type="text"
          placeholder="Barasat, Kolkata"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a valid location</div>
        <div class="valid-feedback">Looks good</div>
      </div>

      <!-- Button -->
      <button class="btn btn-dark add-btn">Add</button>
    </form>
  </div>
</div>
